replicaCount: 1
image:
  repository: ghcr.io/bartvanbenthem/pvsync
  pullPolicy: IfNotPresent
  tag: "v0.6.2"
externalSecret:
  name: "pvsync"
serviceAccount:
  create: true
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
config:
  logLevel: info
